# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Django stuff:
**/db.sqlite3
**/db.sqlite3-journal

# Environments
.env
.env.*
.venv/
venv/
env/
ENV/
**/venv/
**/.venv/

# Node/Frontend
node_modules/
**/node_modules/
dist/
**/dist/

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.sw?
*.ntvs*
*.njsproj
*.sln
*.log
**/*.log

# Vite/Frontend temp files
**/vite.config.js.timestamp-*
