Django==6.0.6
djangorestframework==3.17.1
djangorestframework-simplejwt>=5.3.1
django-cors-headers>=4.3.1
pymysql>=1.1.0
cryptography>=42.0.0
django-crispy-forms>=2.6
crispy-bootstrap5>=2026.3
pillow>=12.2.0
pandas>=3.0.3
numpy>=2.5.0
matplotlib>=3.11.0
seaborn>=0.13.2
scikit-learn>=1.9.0
mysqlclient>=2.2.8
