*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
}

.login-page{
  min-height:100vh;
  display:flex;
  background:#f8fafc;
}

/* LEFT */

.left-section{
  flex:1;
  padding:80px;

  display:flex;
  flex-direction:column;
  justify-content:center;

  background:
  linear-gradient(
    135deg,
    #eff6ff,
    #dbeafe
  );
}

.left-section h1{
  font-size:3rem;
  color:#2563eb;
  margin-bottom:20px;
}

.left-section p{
  max-width:500px;
  color:#475569;
  line-height:1.8;
}

.features{
  margin-top:40px;

  display:flex;
  flex-direction:column;
  gap:15px;
}

.features span{
  font-weight:500;
  color:#1e293b;
}

/* RIGHT */

.right-section{
  flex:1;

  display:flex;
  justify-content:center;
  align-items:center;
}

.login-card{
  width:420px;

  background:white;

  border-radius:32px;

  padding:40px;

  box-shadow:
  15px 15px 30px rgba(0,0,0,.08),
  -15px -15px 30px rgba(255,255,255,.9);
}

.logo{
  text-align:center;
  font-size:3rem;
}

.login-card h2{
  text-align:center;
  margin:20px 0 30px;
  color:#1e293b;
}

.role-selector{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.role-selector button{
  flex:1;

  border:none;

  padding:12px;

  border-radius:15px;

  cursor:pointer;

  background:#eff6ff;

  color:#2563eb;

  font-weight:600;
}

.active-role{
  background:#2563eb !important;
  color:white !important;
}

.login-card input{
  width:100%;

  padding:14px;

  margin-bottom:15px;

  border:none;

  border-radius:15px;

  background:#f1f5f9;

  outline:none;
}

.login-btn{
  width:100%;

  border:none;

  padding:15px;

  border-radius:15px;

  background:#2563eb;

  color:white;

  font-size:1rem;

  font-weight:600;

  cursor:pointer;

  transition:.3s;
}

.login-btn:hover{
  transform:translateY(-2px);
}