@import "tailwindcss";

@theme {
  --font-heading: "Sora", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-cream: #FAF5EE;
  --color-cream-dark: #F1E6D6;
  --color-surface: #FFFFFF;
  --color-camel: #BC8A54;
  --color-camel-dark: #9C6F3E;
  --color-ink: #3B2A1D;
  --color-ink-soft: #6B5946;
  --color-border: #E7DAC5;
  --color-success: #6E8B5B;
  --color-danger: #B65E52;
  --color-warning: #C79A44;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-cream);
  color: var(--color-ink);
}