*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;
}

body{

  font-family:
  "Poppins",
  sans-serif;

  background:#f8fafc;

  color:#0f172a;

  overflow-x:hidden;
}

button,
input{
  font-family:inherit;
}

button{
  cursor:pointer;
}

a{
  text-decoration:none;
}

img{
  max-width:100%;
  display:block;
}